@model CMSPlus.Domain.Models.TopicModels.TopicDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<div class="container m-3">
    <h1 class="row-12 text-black">@Model.Title</h1>
    <div class="row">
        <p class="col-6 text-start text-black-50">Updated: @Model.UpdatedOnUtc</p>
        <p class="col-6 text-end text-black-50">Created: @Model.CreatedOnUtc</p>
    </div class>
    <p class="row-12 text-black">@Html.Raw(Model.Body)</p>
    <form method="post">
        <div class="form-group row">
            <div class="col">
                <label asp-for="CommentCreateModel.UserName" class="visually-hidden">Name</label>
                <input type="text" class="form-control" asp-for="CommentCreateModel.UserName" placeholder="Name">
            </div>
            <div class="col-8">
                <label asp-for="CommentCreateModel.CommentText" class="visually-hidden">Comment</label>
                <textarea class="form-control" asp-for="CommentCreateModel.CommentText" placeholder="Comment"></textarea>
            </div>
            <div class="col text-end">
                <button type="submit" class="btn btn-primary">Add comment</button>
            </div>
        </div>
    </form>
    <h3>Comments:</h3>
    @if (Model.Comments == null || Model.Comments.Count == 0)
    {
        <p>There are no comments</p>
    }
    else
    {
        <ul class="list-group">
            @foreach(var comment in Model.Comments)
            {
                <li class="list-group-item">
                    <h5>@comment.UserName</h5>
                    @comment.CommentText
                </li>
            }
        </ul>
    }
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.SystemName</p>
    </div>
</div>